.footer{
    background:var(--bg-primary);
    padding:70px 10%;
    border-top:1px solid var(--border-color);
    position: relative;
    z-index: 10;
}
.footerTop{
    display:grid;
    grid-template-columns:2fr 1fr 1fr;
    gap:60px;
}
.footerBrand h2{
    color:#00E5FF;
    font-size:36px;
    margin-bottom:20px;
}
.footerBrand p{
    color:#bfbfbf;
    line-height:1.8;
}
.footerLinks,
.footerContact{
    display:flex;
    flex-direction:column;
    gap:15px;
}
.footerLinks h3,
.footerContact h3{
    margin-bottom:10px;
    color:white;
}
.footerLinks a{
    color:#bfbfbf;
    text-decoration:none;
    transition:.3s;
  cursor: pointer !important;
  display: inline-block;
  padding: 5px 0;
}
.footerLinks a:hover{
  
    color: #a855f7;
    text-decoration: underline;
}
.socialIcons{
    display:flex;
    gap:20px;
    font-size:28px;
    color:#00E5FF;
}
.socialIcons svg{
    cursor:pointer;
    transition:.3s;
}
.socialIcons svg:hover{
    transform:translateY(-5px) scale(1.15);
    color:#BB00FF;
}
.footerBottom{
    text-align:center;
    margin-top:60px;
    color:var(--text-secondary);
    border-top:1px solid var(--border-color);
    padding-top:30px;
}