.landing{

background:#050505;

min-height:100vh;

overflow:hidden;

position:relative;

padding-top:120px;

}



.cursorGlow{

position:fixed;

width:350px;
height:350px;

border-radius:50%;

background:radial-gradient(circle,
rgba(0,229,255,.18),
rgba(138,46,255,.12),
transparent 70%);

pointer-events:none;

transform:translate(-50%,-50%);

filter:blur(35px);

z-index:1;

transition:left .08s linear,
top .08s linear;

}