.statsSection{

width:90%;

max-width:1400px;

margin:150px auto;

display:grid;

grid-template-columns:repeat(4,1fr);

gap:25px;

}

.statCard{

padding:45px;

background:var(--bg-panel);

border-radius:20px;

text-align:center;

border:1px solid var(--border-color);

transition:.35s;

}

.statCard:hover{

transform:translateY(-10px);

box-shadow:

0 0 25px #00E5FF,

0 0 70px #8A2EFF;

}

.statCard h1{

font-size:58px;

color:#00E5FF;

margin-bottom:15px;

}

.statCard p{

font-size:20px;

color:#bfbfbf;

}