.selection{

width:90%;

max-width:1400px;

margin:120px auto;

text-align:center;

}

.selection h2{

font-size:48px;

font-family:Orbitron;

margin-bottom:60px;

}

.selectionGrid{

display:grid;

grid-template-columns:repeat(2,1fr);

gap:40px;

}

.selectCard{

padding:50px;

background:var(--bg-panel);

border-radius:22px;

border:1px solid var(--border-color);

transition:.4s;

backdrop-filter:blur(20px);

}

.selectCard:hover{

transform:translateY(-10px);

box-shadow:

0 0 30px cyan,

0 0 70px #8A2EFF;

}

.emoji{

font-size:65px;

margin-bottom:25px;

}

.selectCard h3{

font-size:36px;

margin-bottom:20px;

}

.selectCard p{

font-size:22px;

color:#bfbfbf;

line-height:1.8;

margin-bottom:35px;

white-space:pre-line;

}

.selectCard button{

padding:18px 36px;

background:linear-gradient(90deg,#00E5FF,#8A2EFF);

border:none;

border-radius:12px;

color:white;

font-size:18px;

cursor:pointer;

}

@media(max-width:900px){

.selectionGrid{

grid-template-columns:1fr;

}

.hero{

flex-direction:column;

gap:60px;

}

.heroLeft{

width:100%;

text-align:center;

}

.stats{

justify-content:center;

}

}