/*Forgot Password CSS*/


*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:'Segoe UI',sans-serif;
}

body{
    min-height:100vh;
    display:flex;
    justify-content:center;
    align-items:center;
    background:
    radial-gradient(circle at top left,#1d0d4e,#09091f 40%),
    radial-gradient(circle at bottom right,#4b006e,#09091f 40%);
    color:white;
}

.container{
    width:100%;
    display:flex;
    justify-content:center;
    align-items:center;
}

.card{
    width:420px;
    background:rgba(16,16,35,0.95);
    border:1px solid rgba(255,255,255,0.08);
    border-radius:20px;
    padding:40px;
    box-shadow:0 0 30px rgba(0,0,0,0.4);
}

.card h1{
    text-align:center;
    font-size:42px;
    margin-bottom:10px;
}

.subtitle{
    text-align:center;
    color:#a8a8b3;
    margin-bottom:35px;
    line-height:1.6;
}

label{
    display:block;
    margin-bottom:10px;
    font-weight:600;
}

input{
    width:100%;
    padding:16px;
    background:transparent;
    border:1px solid rgba(255,255,255,0.12);
    border-radius:14px;
    color:white;
    font-size:16px;
    margin-bottom:25px;
    outline:none;
}

input:focus{
    border-color:#4da6ff;
    box-shadow:0 0 10px rgba(77,166,255,0.4);
}

.reset-btn{
    width:100%;
    padding:16px;
    border:none;
    border-radius:14px;
    font-size:20px;
    font-weight:600;
    color:white;
    cursor:pointer;
    background:linear-gradient(
        90deg,
        #12d8fa,
        #4f8cff,
        #8a2be2
    );
    box-shadow:0 0 20px rgba(79,140,255,0.4);
    transition:0.3s;
}

.reset-btn:hover{
    transform:translateY(-2px);
    box-shadow:0 0 30px rgba(138,43,226,0.5);
}

.back-login{
    text-align:center;
    margin-top:25px;
    color:#bdbdc7;
}

.back-login a{
    color:white;
    font-weight:600;
    text-decoration:none;
}

.back-login a:hover{
    color:#4da6ff;
}